@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    --text: black;
    --background: #a2d1ff;
    --foreground: #c8e1fc8c;
    --primary: #fff;
    --secondary: #6859b3;

    font-family: "Poppins", sans-serif;
    height: 100vh;
    background-color: var(--background);
    color: var(--text);

    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;

}

.main {
    background-color: var(--foreground);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

button {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--text);
    background-color: var(--primary);
    padding: 15px 30px;
    border-radius: 8px;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 15px;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    height: auto;
    width: 50px;
}

.header-logo h2 {
    letter-spacing: -0.5px;
    font-size: 13px;
    font-weight: 400;
}

.header-actions {
    display: flex;
    gap: 15px;
    justify-content: flex-end;
}

.current {
    display: flex;
    flex-direction: column;
    padding: 10px 30px;
}

.current-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.current-icon {
    height: auto;
    width: 200px;
}

.current-icon img {
    height: auto;
    width: 100%;
}

.current-temp {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.current-temp h4 {
    font-size: 65px;
    line-height: 100%;
}

.current-temp span {
    font-size: 20px;
}

/* Current details */

.details {
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 150px;
}

.details-content {
    background-color: var(--foreground);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border: 2px solid var(--shadow);
    border-radius: 12px;
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.details-item h4 {
    margin-bottom: 10px;
}

.image-clothing {
    position: absolute;
    top: -20;
    right: 0;
    height: auto;
    width: 100%;
    opacity: 30%;
    overflow: hidden;
}

.recommended-item {
    font-size: 22px;
}

/* Forecast */

.forecast {
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow-x: auto;
}

.forecast h4 {
    font-weight: 400;
    margin-left: 10px;
}

.forecast-week {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style-type: none;
}

.forecast-day {
    display: flex;
    width: 100%;
    padding: 15px 10px;
    gap: 5px;
    background-color: var(--foreground);
    backdrop-filter: blur(10px);
    border-radius: 12px;
    border: 2px solid var(--shadow);
}

.forecast-day img {
    height: auto;
    width: 20px;
}